.form-conainer{
    padding: 25px;
}
.login-toolbar{
    /*background: #fff;*/
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-shadow:2px 6px 12px -6px rgba(0,0,0,0.6);
    -moz-box-shadow:2px 6px 12px -6px rgba(0,0,0,0.6);
    box-shadow:2px 6px 12px -6px rgba(0,0,0,0.6);
}
.input-full-width{
    display: inline;
}
.mat-input-flex .mat-input-infix{
    padding-left: 10px;
    padding-right: 10px;
}
.login-page-link{
    font-size: 15px;
    text-decoration: none;
    color: #0277bd;
    margin: 5px 0;
    display: block;
}
.login-page-link:hover{
    text-decoration: underline;
}
.prefix-icon.material-icons{
    margin-right: 6px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 22px;
}
.signincard{
    width: 400px;
    margin: 0 auto;
    background:transparent;
}
.outer{
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1470219556762-1771e7f9427d?auto=format&fit=crop');
}
.middle {
    display: table-cell;
    vertical-align: middle;
}