<div class="outer">
  <div class="middle">
    <mat-card class="signincard">
      <mat-card-title>
        <mat-toolbar color="primary">
          <span>Sign Up</span>
        </mat-toolbar>
      </mat-card-title>
      <form #form="ngForm" (ngSubmit)="signIn()">
        <div class="form-conainer">
          <mat-input-container class="input-full-width">
            <mat-icon matPrefix class="prefix-icon">person</mat-icon>
            <input matInput type="text" placeholder="Email" value="" name="email" [(ngModel)]="user.email" required #email="ngModel"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <mat-error *ngIf="email.errors && email.errors.required">Email is
              <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="email.errors && email.errors.pattern">Email address is
              <strong>Not Valid</strong>
            </mat-error>
          </mat-input-container>
          <mat-input-container class="input-full-width">
            <mat-icon matPrefix class="prefix-icon">lock</mat-icon>
            <input matInput placeholder="Password" type="password" name="password" minlength="3" maxlength="24" [(ngModel)]="user.password"
              #password="ngModel" required>
            <mat-error *ngIf="password.errors && password.errors.required">Password is
              <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="password.errors && password.errors.minlength">Password must be at least 3 characters long.</mat-error>
            <mat-error *ngIf="password.errors && password.errors.maxlength">Password cannot be more than 24 characters long</mat-error>
          </mat-input-container>
          <button mat-raised-button color="accent" class="button full-width-btn" [disabled]="form.invalid">Login</button>
          <mat-error *ngIf="error">
            <strong>{{error}}</strong>
          </mat-error>
        </div>
      </form>
    </mat-card>
  </div>
</div>