<div class="outer">
  <div class="middle">
    <mat-card class="Card">
      <mat-toolbar color="warn">
        <span class="header-label">Mentor Info</span>
      </mat-toolbar>
      <mat-card-header>
        <mat-card-title>
          <div class="image">
            <img src={{(mentor|async)?.photoURL}} alt="{{(mentor|async)?.displayName}}">
          </div>
          <h2> {{(mentor|async)?.displayName}}</h2>
        </mat-card-title>
      </mat-card-header>
      <hr>
      <mat-card-content>
        <div class="example-container mat-elevation-z8">
          <div class="example-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>

          <mat-table #table [dataSource]="dataSource" matSort>
            <!-- Photo Column -->
            <ng-container matColumnDef="photoURL">
              <mat-header-cell *matHeaderCellDef> Photo </mat-header-cell>
              <mat-cell *matCellDef="let student">
                <div class="image">
                  <img [src]="student.photoURL" alt="">
                </div>
              </mat-cell>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
              <mat-cell *matCellDef="let student"> {{student.displayName}} </mat-cell>
            </ng-container>
            <!-- Points Column -->
            <ng-container matColumnDef="points">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Points </mat-header-cell>
              <mat-cell *matCellDef="let student"> {{student.points}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row class="student-row" *matRowDef="let row; columns: displayedColumns;" (click)="openStudentProfile(row)"></mat-row>
          </mat-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>