.Card{
    width:500px;
    margin: 0 auto
}
label{
    margin-right: 10px;
}
.header-label{
    text-align: center;
    text-transform: uppercase
}
img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.student-row{
    cursor: pointer;
}
.image{
    float: left;
    margin: 5px
}
.outer{
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }