<mat-toolbar color="primary">
    <div class="heading">
        Student Administration
    </div>
    <div *ngIf="user | async">
        <button mat-button (click)="signout()">Sign Out</button>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>