.studentCard{
    width:500px;
    margin: 0 auto
}
label{
    margin-right: 10px;
}
.header-label{
    text-align: center;
    text-transform: uppercase
}
img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.image{
    float: left;
}
.outer{
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}