<div class="outer">
  <div class="middle">
    <mat-card class="studentCard">
      <mat-toolbar color="warn">
        <span class="header-label">Student Info</span>
      </mat-toolbar>
      <mat-card-header>
        <mat-card-title>
          <div class="image">
            <img src={{(student|async)?.photoURL}} alt="{{(student | async)?.displayName}}">
          </div>
          <h2>{{(student | async)?.displayName}}</h2>
        </mat-card-title>
      </mat-card-header>
      <hr>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <label>Points:</label>
            <h3>{{(student | async)?.points}}</h3>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>